<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- First email from the list is considered to be the main one -->
		<!--<add key="MailboxAccount" value="robo@masterferro.pt;dteixeira@masterferro.pt;jfreitas@masterferro.pt;jmota@masterferro.pt;msousa@masterferro.pt;mroque@masterferro.pt;sabreu@masterferro.pt" />-->
		<!--<add key="MailboxPassword" value="{.n*}=5QLbki;mFerro19dT;mFerro19jF;mFerro19jM;msousa2021mf;!dMUuTD(b9z^;SA2023sa##" />-->
		<add key="MailboxAccount" value="robo@masterferro.pt;robo@masterferro.pt_55" />
		<add key="MailboxPassword" value="{.n*}=5QLbki;{.n*}=5QLbki" />
		<add key="InboxFolder" value="INBOX" />
		<add key="TrashFolder" value="INBOX.Trash" />
		<add key="QuotationsFolder" value ="INBOX.Robot.Pedido Orçamentos" />
		<add key="OrdersFolder" value ="INBOX.Robot.Pedido Encomendas" />
		<add key="ReceiptsFolder" value ="INBOX.Robot.Comprovativos de Pagamento" />
		<add key="OthersFolder" value="INBOX.Robot.Outros" />
		<add key="ValidateFolder" value="INBOX.Robot.Por Validar" />
		<add key="SentFolder" value="INBOX.Robot.Enviado" />
		<add key="CertificatesFolder" value="INBOX.Robot.Certificados de Qualidade" />
		<add key="DuplicatesFolder" value="INBOX.Robot.Duplicados" />
		<add key="SpamFolder" value="INBOX.Robot.Spam"/>

		<!-- Email Config-->
		<add key="SystemEmail" value="robo@masterferro.pt" />
		<add key="SystemPassword" value="{.n*}=5QLbki" />

		<add key="EmailServer" value="mail.masterferro.pt" />
		<add key="EmailPassword" value="{.n*}=5QLbki" />

		<!-- IMAP -->
		<add key="IMAPPort" value="993" />
		<!-- SMTP -->
		<add key="SMTPPort" value="465" />

		<add key ="delayMinutesBetweenRepeatedEmailChecks" value ="10" />

		<!-- Here add the time in minutes. Even though later the function expects the argument as seconds, it will be multiplied by 60 on the configManager-->
		<add key ="timespanForEmailRetrieval" value ="20" />

		<!-- Location services-->
		<add key="HereApiKey" value="L1DPFQP3pkqwrvmX9rsZQmbSnKEQbwLfjzT9kD_7TSE" />
		<add key="HereAppKeyId" value="BnE8xcICbe3flT-nHxyYHA"/>
		<add key="HereAppKeySecret" value="S5kMDcpuQEcmLQCuxTbTU2WPfdOXExx8B5VjQTZxW5BkOJllULW1F1E1lCIEcGm6EzGKAssycKFzUdj9CA2nPQ"/>
		<add key="MFLat" value="41.529663" />
		<add key="MFLng" value="-8.417750" />


		<!-- Adicionar CC -->
		<add key="MsSecretExpirationEmailsNotification" value="ricardo.silva@engibots.com;andre.azevedo@engibots.com" />
		<add key="MsEndpoint" value="https://graph.microsoft.com/v1.0/users" />

		<add key="sendAutomaticallyDrafts" value="true"	/>
		<!-- Atention to this value, may send automatic emails to users -->
		<add key="ccConfirmations" value=""	/>
		<!-- Atention to this value, may send automatic emails to users -->
		<add key="theresholdConfiancaAI" value="50"	/>
		<add key="apiKeyOpenAI" value="b5533018669c4be6834a834e1ba371f9"	/>
		<add key="endpointOpenAI" value="https://dlcopenai.openai.azure.com/"	/>
		<add key="delayBetweenRequestsOpenAI" value="4000"	/>
		<add key="AzureOCRKey" value="4130857b4637453ea5d8aed7b07ef8d9"	/>
		<add key="AzureOCREndpoint" value="https://dlrcomputervision.cognitiveservices.azure.com/"	/>

		<add key="ERPEndpoint" value="http://localhost:3000/api/"	/>
		<add key="ERPUser" value="engibots"	/>
		<add key="ERPpassword" value="A12595A13046A12969A12991A12914A13057A13112A13101A12386A12364A12386A12397A12199A12210"	/>

		<add key="imageMaxHeight" value="1000"	/>
		<add key="imageMaxWidth" value="500"	/>

		<!-- Automation Processes -->
		<add key="engimatrix_internal_api_key" value="byBhbmRyZSBlIG8gbWVsaG9yIHByb2dyYW1hZG9yIGRvIG11bmRv=" />
		<add key="postalCodesPath" value ="Data/PostalCodes/" />

		<!-- GENERAL -->
		<add key="company_name" value="Masterferro" />
		<add key="product_short_name" value="MF" />
		<add key="product_full_name" value="Masterferro" />
		<add key="node_name" value="Masterferro" />
		<add key="is_production" value="false" />
		<add key="general_key" value="OcZzQVFvraXJJE3hNT1P7nVXk6LBxmdf" />
		<add key="default_language" value="en" />

		<!-- CORS -->
		<!-- for multiple addresses use ; as separator -->
		<add key="cors_allowed_address" value="localhost:4200;localhost:5000" />

		<!-- DATABASE -->
		<add key="sql_server" value="localhost" />
		<add key="sql_port" value="3306" />
		<add key="sql_database" value="engimatrix_demo" />
		<add key="sql_user" value="demo_user" />
		<add key="sql_password" value="masterferrouserq1w2e3r4!" />
	</appSettings>
</configuration>
