<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- First email from the list is considered to be the main one -->
		<!--<add key="MailboxAccount" value="robo@masterferro.pt;dteixeira@masterferro.pt;jfreitas@masterferro.pt;jmota@masterferro.pt;msousa@masterferro.pt;mroque@masterferro.pt;sabreu@masterferro.pt" />-->
		<!--<add key="MailboxPassword" value="{.n*}=5QLbki;mFerro19dT;mFerro19jF;mFerro19jM;msousa2021mf;!dMUuTD(b9z^;SA2023sa##" />-->
		<add key="MailboxAccount" value="robo@masterferro.pt;robo@masterferro.pt_55" />
		<add key="MailboxPassword" value="{.n*}=5QLbki;{.n*}=5QLbki" />
		<add key="InboxFolder" value="INBOX" />
		<add key="TrashFolder" value="INBOX.Trash" />
		<add key="QuotationsFolder" value ="INBOX.Robot.Pedido Orçamentos" />
		<add key="OrdersFolder" value ="INBOX.Robot.Pedido Encomendas" />
		<add key="ReceiptsFolder" value ="INBOX.Robot.Comprovativos de Pagamento" />
		<add key="OthersFolder" value="INBOX.Robot.Outros" />
		<add key="ValidateFolder" value="INBOX.Robot.Por Validar" />
		<add key="SentFolder" value="INBOX.Robot.Enviado" />
		<add key="CertificatesFolder" value="INBOX.Robot.Certificados de Qualidade" />
		<add key="DuplicatesFolder" value="INBOX.Robot.Duplicados" />
		<add key="SpamFolder" value="INBOX.Robot.Spam"/>

		<!-- Email Config-->
		<add key="SystemEmail" value="robo@masterferro.pt" />
		<add key="SystemPassword" value="{.n*}=5QLbki" />

		<add key="EmailServer" value="mail.masterferro.pt" />
		<add key="EmailPassword" value="{.n*}=5QLbki" />

		<!-- IMAP -->
		<add key="IMAPPort" value="993" />
		<!-- SMTP -->
		<add key="SMTPPort" value="465" />

		<add key ="delayMinutesBetweenRepeatedEmailChecks" value ="10" />

		<!-- Here add the time in minutes. Even though later the function expects the argument as seconds, it will be multiplied by 60 on the configManager-->
		<add key ="timespanForEmailRetrieval" value ="20" />

		<!-- Location services-->
		<add key="HereApiKey" value="L1DPFQP3pkqwrvmX9rsZQmbSnKEQbwLfjzT9kD_7TSE" />
		<add key="HereAppKeyId" value="BnE8xcICbe3flT-nHxyYHA"/>
		<add key="HereAppKeySecret" value="S5kMDcpuQEcmLQCuxTbTU2WPfdOXExx8B5VjQTZxW5BkOJllULW1F1E1lCIEcGm6EzGKAssycKFzUdj9CA2nPQ"/>
		<add key="MFLat" value="41.529663" />
		<add key="MFLng" value="-8.417750" />

		<!-- PRIMAVERA -->
		<!-- URL Configuration -->
		<add key="PrimaveraApiUrl" value="http://5.249.120.78:2018/webapi" />

		<!-- Form Data -->
		<add key="PrimaveraReadUsername" value="WebApi" />
		<add key="PrimaveraWriteUsername" value="UtilApi" />
		<add key="PrimaveraPassword" value="Integra1&quot;" />
		<add key="PrimaveraCompany" value="CLONEAPI" />
		<add key="PrimaveraInstance" value="Default" />
		<add key="PrimaveraGrantType" value="password" />
		<add key="PrimaveraLine" value="professional" />


		<add key="PrimaveraLista_Moedas" value="C283BCF0-87B0-24EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Paises" value="C283BCF0-87B0-29EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Distritos" value="C283BCF0-87B0-28EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_TaxasIVA" value="C283BCF0-87B0-25EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_ModoPagamento" value="C283BCF0-87B0-26EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_CondPagamento" value="C283BCF0-87B0-27EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Unidades" value="C283BCF0-87B0-23EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_UnidadesConversao" value="C283BCF0-87B0-22EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Marcas" value="C283BCF0-87B0-14EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Modelos" value="C283BCF0-87B0-13EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Familias" value="C283BCF0-87B0-16EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_SubFamilias" value="C283BCF0-87B0-15EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Dimensoes" value="C283BCF0-87B0-18EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_LinhaDimensao" value="C283BCF0-87B0-17EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Artigos" value="C283BCF0-87B0-12EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_ArtigosUnidades" value="C283BCF0-87B0-30EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Clientes" value="C283BCF0-87B0-21EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Fornecedores" value="C283BCF0-87B0-20EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_MoradasAlternativas" value="C283BCF0-87B0-19EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_StockDisponivelArtigo" value="C283BCF0-87B0-31EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_StockDisponivelArtigoArmazem" value="C283BCF0-87B0-11EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_PrecoVenda" value="C283BCF0-87B0-32EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_PrecoCompra" value="C283BCF0-87B0-33EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_Pendentes" value="C283BCF0-87B0-34EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_EncomendasCabecalhos" value="C283BCF0-87B0-35EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_EncomendasLinhas" value="C283BCF0-87B0-36EF-8B33-2880231C2DE9" />
		<add key="PrimaveraLista_MFClientes" value="F9BEA4DD-18E4-4672-8601-71402545A0E8" />
		<add key="PrimaveraLista_MFArtigos" value="1374ECA2-3D00-46B9-A648-646F7047A5BB" />
		<add key="PrimaveraLista_MFFaturas" value="773550EE-AAF7-4951-A338-39E53259F569" />


		<!-- Adicionar CC -->
		<add key="MsSecretExpirationEmailsNotification" value="ricardo.silva@engibots.com;andre.azevedo@engibots.com" />
		<add key="MsEndpoint" value="https://graph.microsoft.com/v1.0/users" />

		<add key="sendAutomaticallyDrafts" value="true"	/>
		<!-- Atention to this value, may send automatic emails to users -->
		<add key="ccConfirmations" value=""	/>
		<!-- Atention to this value, may send automatic emails to users -->
		<add key="theresholdConfiancaAI" value="50"	/>
		<add key="apiKeyOpenAI" value="b5533018669c4be6834a834e1ba371f9"	/>
		<add key="endpointOpenAI" value="https://dlcopenai.openai.azure.com/"	/>
		<add key="delayBetweenRequestsOpenAI" value="4000"	/>
		<add key="AzureOCRKey" value="4130857b4637453ea5d8aed7b07ef8d9"	/>
		<add key="AzureOCREndpoint" value="https://dlrcomputervision.cognitiveservices.azure.com/"	/>

		<add key="ERPEndpoint" value="http://localhost:3000/api/"	/>
		<add key="ERPUser" value="engibots"	/>
		<add key="ERPpassword" value="A12595A13046A12969A12991A12914A13057A13112A13101A12386A12364A12386A12397A12199A12210"	/>

		<add key="imageMaxHeight" value="1000"	/>
		<add key="imageMaxWidth" value="500"	/>

		<!-- Automation Processes -->
		<add key="engimatrix_internal_api_key" value="byBhbmRyZSBlIG8gbWVsaG9yIHByb2dyYW1hZG9yIGRvIG11bmRv=" />
		<add key="postalCodesPath" value ="Data/PostalCodes/" />

		<!-- GENERAL -->
		<add key="company_name" value="Masterferro" />
		<add key="product_short_name" value="MF" />
		<add key="product_full_name" value="Masterferro" />
		<add key="node_name" value="Masterferro" />
		<add key="is_production" value="false" />
		<add key="general_key" value="OcZzQVFvraXJJE3hNT1P7nVXk6LBxmdf" />
		<add key="default_language" value="en" />

		<!-- CORS -->
		<!-- for multiple addresses use ; as separator -->
		<add key="cors_allowed_address" value="localhost:4200;localhost:5000" />

		<!-- DATABASE -->
		<add key="sql_server" value="localhost" />
		<add key="sql_port" value="3306" />
		<add key="sql_database" value="engimatrix_demo" />
		<add key="sql_user" value="demo_user" />
		<add key="sql_password" value="masterferrouserq1w2e3r4!" />
	</appSettings>
</configuration>
