<ng-container *transloco="let t">
    <div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
        <!-- Header -->
        <div
            class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
        >
            <div class="text-lg font-medium">{{ t("Scripts.add_asset") }}</div>
            <button mat-icon-button (click)="close()" [tabIndex]="-1">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
            </button>
        </div>
        <div class="flex items-center ml-30 mr-30 mt-2" *ngIf="flashMessage">
            <ng-container *ngIf="flashMessage === 'success'">
                <mat-icon
                    class="text-green-500"
                    [svgIcon]="'heroicons_outline:check'"
                ></mat-icon>
                <span class="ml-2" [innerText]="flashMessageText"></span>
            </ng-container>
            <ng-container *ngIf="flashMessage === 'error'">
                <mat-icon
                    class="text-red-500"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
                <span class="ml-2" [innerText]="flashMessageText"></span>
            </ng-container>
        </div>
        <form
            class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
            [formGroup]="composeForm"
        >
            <mat-form-field>
                <mat-label>{{ t("description") }}</mat-label>
                <input matInput [formControlName]="'description'" />
                <mat-error *ngIf="composeForm.get('description').hasError()">{{
                    t("require-field")
                }}</mat-error>
            </mat-form-field>

            <div class="input-container">
                <!-- Tipo de Entrada -->
                <mat-form-field>
                    <mat-label>{{ t("Scripts.type") }}</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="credentials">{{
                            t("Scripts.credentials")
                        }}</mat-option>
                        <mat-option value="text">{{
                            t("Scripts.text")
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Campo de entrada para texto -->
                <mat-form-field
                    *ngIf="composeForm.get('type').value === 'text'"
                    class="text-input"
                >
                    <mat-label>{{ t("Scripts.text") }}</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'text'"
                        rows="4"
                    ></textarea>
                    <mat-error
                        *ngIf="composeForm.get('text').hasError('required')"
                        >{{ t("require-field") }}</mat-error
                    >
                </mat-form-field>
            </div>

            <style>
                .input-container {
                    display: flex;
                    flex-direction: column;
                    gap: 16px; /* Espaçamento entre os elementos */
                }

                .text-input {
                    height: 150px; /* Altura do campo de texto */
                }
                .credential-input {
                    margin-left: 16px; /* Espaço entre os campos de entrada para credenciais */
                }
            </style>

            <!-- Campos de entrada para credenciais -->
                <mat-form-field *ngIf="composeForm.get('type').value === 'credentials'">
                    <mat-label>{{ t("user") }}</mat-label>
                    <input matInput formControlName="user" />
                </mat-form-field>
                <mat-form-field *ngIf="composeForm.get('type').value === 'credentials'" appearance="fill">
                    <mat-label>{{ t("password") }}</mat-label>
                    <input name="password" formControlName="password" matInput [type]="passwordVisible ? 'text' : 'password'">
                    <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible; onClickRevealPassword($event)" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="!passwordVisible">
                      <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
            <!-- </div> -->

            <button
                class="p-6 bg-gray-300 mt-10"
                mat-flat-button
                (click)="saveAndClose()"
            >
                {{ t("confirm") }}
            </button>
        </form>
    </div>
</ng-container>
