<ng-container *transloco="let t">
    <!-- ADDRESS -->
    <div class="mb-4 text-2xl font-bold tracking-tight">
        {{ t("Order.address") }}
        <div class="my-4 border-t"></div>
    </div>
    <!-- Checkbox to ask if the client wants delivery or comes to pick it up-->
    <mat-checkbox
        [disabled]="isDisabled"
        class="flex items-baseline justify-center p-2 mb-4 text-lg font-medium text-gray-800 bg-gray-200"
        [(ngModel)]="isOrderToSendToClient"
    >
        {{ t("Order.needs-delivery") }}
        <mat-icon
            class="mt-auto ml-2 text-primary"
            [svgIcon]="'heroicons_solid:question-mark-circle'"
        ></mat-icon>
    </mat-checkbox>

    <!-- Address form -->
    <div *ngIf="isOrderToSendToClient; else clientComesToPickItUp">
        <app-confirm-order-address
            [address]="address"
            [clientCar]="clientCar"
            [orderToken]="orderToken"
            [isDisabled]="isDisabled"
            [isClient]="isClient"
            (addressUpdated)="emitUpdatedAddress($event)"
        >
        </app-confirm-order-address>
    </div>

    <ng-template #clientComesToPickItUp>
        <fuse-alert
            class="flex justify-center"
            [type]="'info'"
            [appearance]="'fill'"
        >
            <span fuseAlertTitle class="flex text-left">
                {{ t("Order.no-delivery") }}</span
            >
            {{ t("Order.client-picksup-at-warehouse") }}
        </fuse-alert>
    </ng-template>

    <!-- Submit Button -->
    <div class="flex justify-center" *ngIf="orderToken">
        <button
            mat-raised-button
            class="justify-center mt-4 text-center text-white align-middle orange-bg"
            *ngIf="!isDisabled"
            [disabled]="isLoading"
            (click)="updateAddress()"
        >
            <ng-container *ngIf="!isLoading">
                {{ t("order-address-update") }}
                <mat-icon
                    class="ml-2"
                    [svgIcon]="'heroicons_solid:check'"
                ></mat-icon>
            </ng-container>
            <ng-container *ngIf="isLoading">
                {{ t("updating-address") }}
                <mat-spinner class="ml-2" diameter="20"></mat-spinner>
            </ng-container>
        </button>
    </div>
</ng-container>
