<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-center flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-78">
                <img src="assets/images/logo/masterferro_logo.png.jpg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Reset Password</div>

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Reset Password form -->
            <form class="mt-8" [formGroup]="resetPasswordForm" #signInNgForm="ngForm">

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>New password</mat-label>
                    <input id="password" matInput [formControlName]="'password'">
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error class="grow-0 max-w-prose" *ngIf="resetPasswordForm.get('password').hasError('pattern')">
                        {{ passPatternError }}
                    </mat-error>

                </mat-form-field>

                <!-- Password confirmation field -->
                <mat-form-field class="w-full">
                    <mat-label>New password confirmation</mat-label>
                    <input id="password-confirmation" matInput [formControlName]="'passwordConfirm'" (paste)="(false)">
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                        Password confirmation is different from password
                    </mat-error>
                </mat-form-field>

                <!-- Password strength validation -->
                <div class="pb-10">
                    <app-password-strength-bar [passwordToCheck]="resetPasswordForm.value.password" barLabel="Password strenght">
                    </app-password-strength-bar>
                </div>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/sign-in']">Return
                        to sign in
                    </a>
                </div>

                <div class="pt-5">
                    <re-captcha *ngIf="env.production" (resolved)="resolved($event)" siteKey="6Lfmb1cdAAAAAA53BjP-G99uP9nNFxgvkrjdbB11">
                    </re-captcha>
                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'" [disabled]="resetPasswordForm.disabled || !captchaSolve" (click)="resetPassword()">
                    <span *ngIf="!resetPasswordForm.disabled">
                        Submit
                    </span>
                    <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>