<ng-container *transloco="let t">
    <div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
        <!-- Header -->
        <div
            class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
        >
            <div class="text-lg font-medium">{{ t("Scripts.trigger-edit") }}</div>
            <button mat-icon-button (click)="close()" [tabIndex]="-1">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
            </button>
        </div>

        <!-- Flash Message -->
        <div class="flex items-center ml-30 mr-30 mt-2" *ngIf="flashMessage">
            <ng-container *ngIf="flashMessage === 'success'">
                <mat-icon
                    class="text-green-500"
                    [svgIcon]="'heroicons_outline:check'"
                ></mat-icon>
                <span class="ml-2" [innerText]="flashMessageText"></span>
            </ng-container>
            <ng-container *ngIf="flashMessage === 'error'">
                <mat-icon
                    class="text-red-500"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
                <span class="ml-2" [innerText]="flashMessageText"></span>
            </ng-container>
        </div>

        <!-- Form -->
        <form
            class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
            [formGroup]="composeForm"
        >
            <mat-form-field>
                <mat-label>{{ t("name") }}</mat-label>
                <input matInput [formControlName]="'name'" readonly/>
                <mat-error *ngIf="composeForm.get('name').hasError()">{{
                    t("require-field")
                }}</mat-error>
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-label>{{ t("Scripts.trigger-expression") }}</mat-label>
                <input matInput [formControlName]="'cron_expression'" />
                <mat-error *ngIf="composeForm.get('cron_expression').hasError()">{{
                    t("require-field")
                }}</mat-error>
            </mat-form-field> -->

            <!-- <app-cron-job-scheduler
                [initialCronExpression]="trigger.cron_expression"
                (cronExpressionChanged)="onCronExpressionChanged($event)">
            </app-cron-job-scheduler> -->

            <mat-form-field>
                <mat-label>{{ t("Scripts.script-name") }}</mat-label>
                <input matInput [formControlName]="'script_name'" readonly/>
                <mat-error *ngIf="composeForm.get('script_name').hasError()">{{
                    t("require-field")
                }}</mat-error>
            </mat-form-field>

            <!-- Schedule Type -->
            <mat-form-field appearance="fill">
                <mat-label>{{ t("Scripts.trigger-expression") }}</mat-label>
                <mat-select formControlName="scheduleType" (selectionChange)="onScheduleTypeChanged()">
                  <mat-option value="daily">Daily</mat-option>
                  <mat-option value="weekly">Weekly</mat-option>
                  <mat-option value="monthlyDayOfMonth">Monthly (Day of Month)</mat-option>
                  <mat-option value="advanced">Advanced</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'advanced'">
                <mat-label>Advanced Cron Expression</mat-label>
                <input matInput formControlName="advancedCronExpression" placeholder="Advanced Cron Expression" required>
                <mat-error *ngIf="composeForm.get('advancedCronExpression').invalid">{{ t("require-field") }}</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'daily'" formGroupName="dailyTime">
                    <mat-label>Daily Time - Hour</mat-label>
                    <input matInput type="number" formControlName="hour" placeholder="Hour">
                </mat-form-field>
                <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'daily'" formGroupName="dailyTime">
                    <mat-label>Daily Time - Minute</mat-label>
                    <input matInput type="number" formControlName="minute" placeholder="Minute">
            </mat-form-field>

            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'weekly'" formGroupName="weeklySchedule">
                <mat-label>Weekly Schedule</mat-label>
                <mat-select multiple formControlName="dayOfWeek">
                  <mat-option *ngFor="let day of daysOfWeek" [value]="day.id">{{ day.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'weekly'" formGroupName="weeklySchedule">
                <mat-label>Time - Hour</mat-label>
                    <input matInput type="number" formControlName="hour" placeholder="Hour">
                </mat-form-field>
                <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'weekly'" formGroupName="weeklySchedule">
                    <mat-label>Time - Minute</mat-label>
                    <input matInput type="number" formControlName="minute" placeholder="Minute">
            </mat-form-field>

            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'monthlyDayOfMonth'" formGroupName="monthlyDayOfMonth">
                <mat-label>Monthly (Day of Month)</mat-label>
                <input matInput type="number" formControlName="dayOfMonth" placeholder="Day of Month">
            </mat-form-field>
            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'monthlyDayOfMonth'" formGroupName="monthlyDayOfMonth">
                <mat-label>Time - Hour</mat-label>
                <input matInput type="number" formControlName="hour" placeholder="Hour">
            </mat-form-field>
            <mat-form-field *ngIf="composeForm.get('scheduleType').value === 'monthlyDayOfMonth'" formGroupName="monthlyDayOfMonth">
                <mat-label>Time - Minute</mat-label>
                <input matInput type="number" formControlName="minute" placeholder="Minute">
            </mat-form-field>


            <style>
                .input-container {
                    display: flex;
                    flex-direction: column;
                    gap: 16px; /* Espaçamento entre os elementos */
                }

                .text-input {
                    height: 150px; /* Altura do campo de texto */
                }
            </style>

            <button
                class="p-6 bg-gray-300 mt-10"
                mat-flat-button
                (click)="saveAndClose()"
            >
                {{ t("confirm") }}
            </button>
        </form>
    </div>
</ng-container>
