<ng-container *transloco="let t">
    <div
        class="flex flex-col flex-auto min-w-0 overflow-auto sm:absolute sm:inset-0 bg-card dark:bg-transparent"
    >
        <!-- Tab Navigation -->
        <mat-tab-group
            #tabGroup
            class="mt-4"
            mat-align-tabs="start"
            (selectedTabChange)="onTabChange($event)"
        >
            <mat-tab label="{{ t('segments') }}" data-tab-id="segments">
                <app-segments-table
                    [clients]="clients"
                    [isLoading]="isLoading"
                    (refreshRequested)="onRefreshRequested()"
                ></app-segments-table>
            </mat-tab>

            <mat-tab label="{{ t('ratings') }}" data-tab-id="ratings">
                <app-ratings-table
                    [clients]="clients"
                    [isLoading]="isLoading"
                    (refreshRequested)="onRefreshRequested()"
                ></app-ratings-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-container>
