
<ng-container *transloco="let t">
    
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-center">
                    {{ t("no-access-title") }}
                </h1>
                <div class="four-zero-four-bg"></div>
                <div class="contant-box-404">
                    <p>{{ t("no-access-text") }}</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
