<ng-container *transloco="let t">
    <div class="mb-6 text-2xl font-bold tracking-tight">
        {{ t("Filtering.categorize-email") }}
        <div class="my-4 border-t"></div>
    </div>

    <div class="flex flex-col items-center text-center mb-100">
        <!-- Dropdown for categories -->
        <mat-form-field appearance="fill" class="mb-10 w-90">
            <mat-label>{{ t("Email.change-category") }}</mat-label>
            <mat-select [(value)]="selectedCategory">
                <mat-option
                    *ngFor="let category of categories"
                    [value]="category.id"
                >
                    {{ category.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Button to trigger categorize function -->
        <button
            mat-raised-button
            class="text-white gray-bg"
            (click)="categorize()"
        >
            {{ t("Filtering.categorize") }}
            <mat-icon
                style="margin-left: 10px"
                [svgIcon]="'heroicons_solid:tag'"
            ></mat-icon>
        </button>
    </div>
</ng-container>
