span.k-column-title.ng-star-inserted {
    white-space: normal;
}

.whole-cell {
    display: block;
    padding: 8px 12px;
}

.custom-dialog .mat-dialog-container {
    overflow: hidden !important; /* Removes outer scrollbar */
    display: flex;
    flex-direction: column;
}
