.active-button {
    background-color: #1976d2; /* Example color for primary */
    color: white; /* Text color for active button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for active button */
}

gray-btn {
    background-color: #383838;
}
