<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-indigo-600 text-on-primary"
    >
        <div class="text-lg font-medium text-white">
            {{ translate("change-password") }}
        </div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm"
    >
        <div class="flex items-center mb-6" *ngIf="flashMessage">
            <ng-container *ngIf="flashMessage === 'success'">
                <mat-icon
                    class="text-green-500"
                    [svgIcon]="'heroicons_outline:check'"
                ></mat-icon>
                <span class="ml-2" [innerText]="flashMessageText"></span>
            </ng-container>
            <ng-container *ngIf="flashMessage === 'error'">
                <mat-icon
                    class="text-red-500"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
                <span class="ml-2" [innerText]="flashMessageText"></span>
            </ng-container>
        </div>

        <!-- Old Password -->
        <mat-form-field>
            <mat-label>{{ translate("current-password") }}</mat-label>
            <input
                matInput
                [formControlName]="'OldPass'"
                type="password"
                #OldpasswordField
            />
            <button
                mat-icon-button
                type="button"
                (click)="
                    OldpasswordField.type === 'password'
                        ? (OldpasswordField.type = 'text')
                        : (OldpasswordField.type = 'password')
                "
                matSuffix
            >
                <mat-icon
                    class="icon-size-5"
                    *ngIf="OldpasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"
                ></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="OldpasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"
                ></mat-icon>
            </button>
            <mat-error *ngIf="composeForm.get('OldPass').hasError('required')">
                {{ translate("password-required") }}
            </mat-error>
        </mat-form-field>
        <!-- New Password -->
        <mat-form-field>
            <mat-label>{{ translate("new-password") }}</mat-label>
            <input
                matInput
                [formControlName]="'NewPass'"
                type="password"
                #NewpasswordField
            />
            <button
                mat-icon-button
                type="button"
                (click)="
                    NewpasswordField.type === 'password'
                        ? (NewpasswordField.type = 'text')
                        : (NewpasswordField.type = 'password')
                "
                matSuffix
            >
                <mat-icon
                    class="icon-size-5"
                    *ngIf="NewpasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"
                ></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="NewpasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"
                ></mat-icon>
            </button>
            <mat-error
                class="grow-0 max-w-prose"
                *ngIf="composeForm.get('NewPass').hasError('pattern')"
            >
                {{ passPatternError }}
            </mat-error>
        </mat-form-field>
        <!-- Confirme Password -->
        <mat-form-field>
            <mat-label>{{ translate("new-password-confirmation") }}</mat-label>
            <input
                matInput
                [formControlName]="'RepeatNewPass'"
                type="password"
                #passwordField
            />
            <button
                mat-icon-button
                type="button"
                (click)="
                    passwordField.type === 'password'
                        ? (passwordField.type = 'text')
                        : (passwordField.type = 'password')
                "
                matSuffix
            >
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"
                ></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"
                ></mat-icon>
            </button>
            <mat-error
                *ngIf="composeForm.get('RepeatNewPass').hasError('mustMatch')"
            >
                {{ translate("password-mismatch") }}
            </mat-error>
        </mat-form-field>

        <button
            class="p-6 bg-indigo-600 mt-10 text-white"
            mat-flat-button
            (click)="submit()"
            [disabled]="
                composeForm.get('OldPass').hasError('required') ||
                composeForm.get('NewPass').hasError('pattern') ||
                composeForm.get('RepeatNewPass').hasError('required')
            "
        >
            {{ translate("new-password-confirmation") }}
        </button>
    </form>
</div>
