.ring-orange {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: var(--fuse-primary) !important;
}

.text-primary {
    --tw-text-opacity: 1 !important;
    color: var(--fuse-primary) !important;
}
